---
swagger: "2.0"
info:
  title: GroupMe Score Tracker
  description: A score tracker for GroupMe, promotes friendly competition
  version: "0.1b"
paths:
  /:
    post:
      summary: Responds to messages directed at it
      operationId: tracker.recv_msg
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            properties:
              attachments:
                type: array
                items:
                  type: string
              created_at:
                type: integer
              group_id:
                type: string
              id:
                type: string
              name:
                type: string
              sender_id:
                type: string
              sender_type:
                type: string
              sender_guid:
                type: string
              system:
                type: boolean
              text:
                type: string
              user_id:
                type: string
      responses:
        default:
          description: "Actually returns nothing"
